* {
    box-sizing: border-box;
}

body {
    background-color: green;
    color: #fff;
}

.title {
    background-color: black;
    padding-top: .8rem;
    height: 4rem;
}

.title__content {
    text-align: center;
    margin: 0;
}

.features {
    width: 41.5%;
    margin: auto;
    margin-top: 2rem;
}

.features__button {
    height: 5vh;
    width: 10vw;
    margin: 0 1.4rem;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in;
}

.card img {
    width: 5%;
    position: absolute;
    /*
        top: 6rem;
        left: 20rem;
    */
    /*
        top: 38rem;
        left: 20rem;
    */
    top: 20.5rem;
    left: 39.5rem;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in;
}

.board__cards__one {
    height: 20vh;
}

.board__cards__one p {
    margin: 0;
    padding-top: 4rem;
    padding-left: 5rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.board__cards__deck img{
    width: 20%;
}

.board__cards__deck {
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
}

.board__cards__deck img {
    width: 8%;
    padding-top: 5rem;
}

.deck__count {
    position: absolute;
    top: 8rem;
    left: 50rem;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
}

.deck__count span {
    margin-left: .5rem;
    color: rgb(209, 209, 10);
}

.board__cards__two {
    height: 20vh;
}

.board__cards__two p {
    margin: 0;
    padding-top: 4rem;
    padding-left: 5rem;
    font-size: 1.6rem;
    font-weight: 700;
}


/*
    animation
*/

:focus {
    outline: 0;
}

.features__button:hover {
    transform: scale(.98);
    color: red;
    background-color: rgb(56, 56, 34);
}